{% extends 'layout.html' %}
{% block content %}

<section class="py-5">
    <div class="container">
        <h1>{{ product.ProductName }}</h1>
                <h5>Price: {{ product.Price }}</h5>
                <p class="small col-5">{{ product.ProductDescription }}</p>
        <div class="row">
            <div class="col-6">
                <h3>Contact details</h3>
                <ul>
                    <li><h4>Office: Mati Property Ltd</h4></li>
                    <li>Email: mati@bashundhara.com</li>
                    <li>Phone: 9837634636</li>
                    <li>Whatsapp: 4337483634</li>
                </ul>
            </div>
            <div class="col-6">
                
            </div>
        </div>
    </div>
</section>

{% endblock %}
